<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Portefolio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% url 'pages:home' as home_url %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == home_url %}active{% endif %}" {% if request.path == home_url %}aria-current="page"{% endif %} href="{{ home_url }}">Home{% if request.path == home_url %} <span class="visually-hidden">(current)</span>{% endif %}</a>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'account_email' %}">{{ user.email }}</a></li>
                    <li><a href="{% url 'account_logout' %}">Deconnection</a></li>
                    {% else %}
                    <li class="nav-item"><a href="{% url 'account_login' %}">login</a></li>
                    <liclass="nav-item"><a href="{% url 'account_signup' %}">register</a></li>
                    {% endif %}
            </ul>
        </div>
    </div>
</nav>
