{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h3 class="mb-3">Liste des {{ cookiecutter.app_name_plural }}</h3>
    <div class="row">
      {% for {{ cookiecutter.app_name_singular }} in object_list %}
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ {{ cookiecutter.app_name_singular }}.name }}</h5>
            <p class="card-text">{{ {{ cookiecutter.app_name_singular }}.description }}</p>
            <!-- Affichez d'autres attributs du modèle selon vos besoins -->
          </div>
        </div>
        {% empty %}
      <p>Aucun {{ cookiecutter.app_name_singular }} trouvé.</p>
      {% endfor %}
    </div>
  </div>
  {% endblock %}
